body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 15px;
  width: fit-content;
}

.btn {
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

p {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  grid-area: 2 / 1;
}

.green {
  background-color: green;
  grid-column-start: 2;
}

.blue {
  background-color: blue;
  grid-area: 2 / 3;
}

.yellow {
  background-color: yellow;
  grid-area: 2 / 2;
}

.pressed {
  box-shadow: 0 0 20px rgb(40, 40, 40);
  background-color: rgb(40, 40, 40);
}

.flash {
  box-shadow: 0 0 20px white;
  background-color: white; 
}